* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7159c1;
}

main {
  background-color: #7159c1;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  width: 600px;
}

.canvas {
  background-color: #715499;
  margin: 0 auto;

  cursor: grab;
  overflow: auto;
}

.node {
  font-size: 48px;
  width: 720px;
  height: 220px;
  margin-bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}